Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.11
certifi==2025.10.5
influxdb_client==1.49.0
lgpio==0.2.2.0
mock==5.2.0
pi-ina219==1.4.1
PyMLX90614==0.0.4
python-dateutil==2.9.0.post0
pytz==2025.2
reactivex==4.0.4
rpi-lgpio==0.6
RPi.bme280==0.2.4
six==1.17.0
smbus2==0.5.0
spidev==3.8
typing_extensions==4.15.0
urllib3==2.5.0
